.title-screen-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title-screen-button {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.title-text {
  font-size: 34px;
}

.title-screen-icon-circle {
  transition: fill 0.5s linear;
}

.title-screen-icon-triangle {
  transition: stroke 0.5s linear;
}