.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    height: 80%;
    width: 100%;
    margin: 1rem;
}

.games-card {
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 1px solid rgb(0, 255, 0)
}