.game-room-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.top-ui-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bottom-ui-bar {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 255, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
    transform: none !important;
}

.bottom-ui-bar > div:first-child {
    height: 100%;
    width: 100%;
}

.inner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.bottom-ui-panel {
    border: 1px solid rgb(0, 255, 0);
    background-color: rgba(0, 2, 0, 1);
    height: 100%;
}

.left-panel {
    width: 25%;
}

.right-panel {
    width: 45%;
    display: flex;
    flex-flow: row;
}

.right-panel-side {
    height: 100%;
    width: 50%;
    border-right: 1px solid rgb(0, 255, 0);
}

.right-panel-communications {

}

.communications-tabs, .communications-main, .communications-prompt {
    width: 100%;
    border-bottom: 1px solid lime;
    display: flex;
    flex-flow: column;
}

.communications-tabs {
    height: 15%;
    flex-flow: row;
}

.communications-main {
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.communications-main::-webkit-scrollbar {
    display: none;
}

.communications-main-entry {
    width: 100%;
    height: fit-content;

    p {
        margin: .25rem;
        padding-left: .5rem;
    }
}

.communications-prompt {
    height: 15%;
    display: flex;
    flex-flow: row;
}

.communications-prompt-input {
    height: 100%;
    width: 85%;
    background: rgba(0,0,0,0);
    color: rgb(0, 255, 0);
    font-family: "Tomorrow";
    border: 1px solid rgb(0, 255, 0);
    padding-left: 1rem;
}

.communications-prompt-input:focus {
    outline: none;
    border-color: rgb(0, 255, 0);
}

.communications-prompt-enter-button {
    height: 100%;
    width: 15%;
    font-size: 16px;
}

.comms-tab {
    height: 100%;
    width: 33.333%;
    border-right: 1px solid lime;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 14px;
        margin: 0;
    }
}

.comms-tab-selected {
    background: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

.right-panel-electricity-graph {
    .electricity-graph-title {
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .electricity-graph {
        height: 85%;
        padding-top: 1rem;
        width: 100%;
    }
}

.center-panel {
    width: 30%;
    display: flex;
    flex-flow: row;
}

.actions-container {
    height: 65%;
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-top: 1rem;
    padding-left: 1rem;
}

.actions-progress-container {
    height: 35%;
    width: 100%;
    border-top: 1px solid lime;
    display: flex;
    flex-flow: row;
}

.action-progress {
    height: 90%;
    width: 100px;
    border: 1px solid lime;
}

.action-percentage {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    height: 100px;
    width: 75px;
    border: 3px solid rgb(0, 255, 0);
    margin-right: .5rem;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.action-bound-key {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: 0;

    p {
        margin: 0;
    }
}

.action-icon {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(0, 255, 0);

    svg {
        height: 100%;
    }
}

.action-title {
    height: 35%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 12px;
        margin: 0;
    }
}

.map-action-icon {
    height: 100%;
    width: 100%;
}

.selection-container {
    height: 100%;
    width: 50%;
}

.selection-viewport-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-viewport {
    height: 85%;
    width: 85%;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 4px;
}

.selected-text, .selected-text-property {
    text-align: center;
    font-size: 26px;
}

.selected-text-property {
    font-size: 18px;
}

.resources-section, .buttons-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.resource-field {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    h1 {
        margin: 0;
        text-align: center;
    }

    .electricity-text {
        width: 80px;
        margin-right: .5rem;
    }
}

.icon {
    height: 40px;
    width: 40px;
    background-color: black;
    margin-right: .25rem;
}

.electricity-icon, .iron-icon, .carbon-icon, .steel-icon, .graphene-icon {
    height: 100%;
    width: 100%;
}

.electricity-icon {
    background-color: rgb(0, 255, 255);
    clip-path: polygon(
        60% 0%,
        25% 55%,
        50% 55%,
        40% 100%,
        75% 45%,
        50% 45%,
        75% 0%
    );
}

/* Nintendo 64 <3 */
.iron-icon {
    background:
        repeating-linear-gradient(
            to right,
            rgb(64, 64, 64) 1px,
            rgb(64, 64, 64) 2px,
            transparent 1px,
            transparent 33%
        ),
        repeating-linear-gradient(
            to bottom,
            rgb(64, 64, 64) 1px,
            rgb(64, 64, 64) 2px,
            transparent 1px,
            transparent 33%
        );
}

.steel-icon {
    background:
        repeating-linear-gradient(
            to right,
            rgb(128, 128, 175) 1px,
            rgb(128, 128, 175) 2px,
            transparent 1px,
            transparent 15.66%
        ),
        repeating-linear-gradient(
            to bottom,
            rgb(128, 128, 175) 1px,
            rgb(128, 128, 175) 2px,
            transparent 1px,
            transparent 15.66%
        );
}

.carbon-icon {
    width: 100%;
    height: 100%;
    stroke: rgb(128, 128, 128);
    stroke-width: 0.8;
}

.graphene-icon {
    width: 100%;
    height: 100%;
    stroke: rgb(0, 255, 255);
    stroke-width: 0.8;
}

/* Three curves from the center (clockwise), three curves from the circumference (counter-clockwise) */
/* rgb(255, 215, 0) = Gold. Time is gold. */
.time-icon {
    width: 100%;
    height: 100%;
    stroke: rgb(255, 215, 0);
    stroke-width: 0.8;
}